aiodns==3.0.0
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
brotlipy==0.7.0
cchardet==2.1.7
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.4
Cybernator==0.6.3
discord==1.7.3
discord-components==2.0.2
discord-database==1.0.4
discord-webhook==0.14.0
discord.py==1.7.3
humanfriendly==10.0
idna==3.2
multidict==5.1.0
pycares==4.0.0
pycodestyle==2.7.0
pycparser==2.20
pypresence==4.2.0
pyreadline==2.1
requests==2.26.0
tabulate==0.8.9
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.6
yarl==1.6.3
